.position {
	font-weight: 900;
	margin-bottom: 0px;
}

.name {
	margin-bottom: 0px;
	margin-top: 0px;
}

.mail {
	margin-bottom: 0px;
	margin-top: 0px;
	font-style: italic;
	font-weight: 200;
}